html, body{
    padding: 0;
    margin: 0;
}
h1 {
    margin-top: 0;
}
#sidebar {
    height: 100%;
    width: 100%;
    position: fixed;
    background: black;
    opacity: 0;
    top: 0;
    pointer-events: none;
    transition: all .5s;
}
#sidebar.open {
    opacity: 1;
    pointer-events: initial;
    transition: all .5s;
}
#main {
    margin-top: 60px;
    text-align: left;
    padding: 25px;
}
#sidebar {
    text-align: center;
}
#sidebar > h3 {
    text-align: center;
    color: white;
}
#sidebar > ul {
    position: absolute;
    padding: 0;
    list-style: none;
    top: 50%;
    margin-top: -160px;
    width: 100%;
    /*text-decoration: none;*/
    /*text-align: center;*/
}
#sidebar > ul > a > li {
    width: 100%;
    color: white;
    text-align: center;
    font-size: 24px;
    line-height: 80px;
}
header {
    position: fixed;
    background: black;
    height: 60px;
    width: 100%;
    top: 0;
    opacity: 1;
    z-index: 2;
}

.btn > span {
    position: relative;
    top: 0;
    display: block;
    width: 25px;
    height: 3px;
    margin-bottom: 5px;
    background-color: white;
    transition: .5s all;
}
.btn.open > span {
    background-color: white;

}
.btn.open > span.top {
    -webkit-transform: translateY(8px) rotateZ(135deg);
    -moz-transform: translateY(8px) rotateZ(135deg);
    -ms-transform: translateY(8px) rotateZ(135deg);
    -o-transform: translateY(8px) rotateZ(135deg);
    transform: translateY(8px) rotateZ(135deg);
}
.btn.open span.bottom {
    -webkit-transform: translateY(-8px) rotateZ(225deg);
    -moz-transform: translateY(-8px) rotateZ(225deg);
    -ms-transform: translateY(-8px) rotateZ(225deg);
    -o-transform: translateY(-8px) rotateZ(225deg);
    transform: translateY(-8px) rotateZ(225deg);
}

.btn.open span.middle {
    -webkit-transform: rotateZ(135deg);
    opacity: 0;
    -moz-transform: rotateZ(135deg);
    -ms-transform: rotateZ(135deg);
    -o-transform: rotateZ(135deg);
    transform: rotateZ(135deg);
}

.btn {
    background: none;
    border: none;
    position: fixed;
    top: 15px;
    left: 10px;
    z-index: 2;
    transition: .5s all;
}
@media (min-width:1100px) {
    #sidebar {
        width: 300px;
        opacity: 1;
        pointer-events: initial;
        transition: all 0s;
    }
    #main {
        margin-left:300px;
        margin-top: 0px;
        padding: 50px;
    }
    .btn {
        opacity: 0;
        pointer-events: none;
    }
    header {
        opacity: 0;
        pointer-events: none;
    }

}
@media (min-width:1600px) {
    #sidebar {
        width: 400px;
        opacity: 1;
        pointer-events: initial;
    }
    #main {
        margin-left:400px;
    }
    .btn {
        opacity: 0;
        pointer-events: none;
    }
}